<div class="question">
  <h3> Title: <%= @question.title %> </h3>
  <ul>
    <li>Content: <%= @question.content %></li>
    <li>
      Tags:
      <% @question.tags.each do |tag| %>
        <%= tag.name %>
      <% end %>
      Responses: <br> <%= render @question.responses %>
    </li>
    <%= link_to "New Response", new_response_path(question_id: @question) %>
    <li>
      Answers: <br> <%= render @question.answers %>
    </li>
    <%= link_to "New Answer", new_question_answer_path(@question) %>
  </ul>
</div>
