<%= form_for :question, url: questions_path do |f| %>
	<p><%= f.label "Title" %></p>
  <%= f.text_field :title %>
  <br>
  <br>
  <p><%= f.label "Content" %></p>
  <%= f.text_field :content %>
  <br>
  <br>
  <p><%= f.label "Tags" %></p>
  <%= f.text_field :tags %>
  <br>
  <br>

  <%= f.submit 'submit' %>
<% end %>