    <li class="answer">
         <%= link_to "Upvote", votes_path(:answer_id => answer.id, :value => 1), method: :post %>
      <%= link_to "Downvote", votes_path(:answer_id => answer.id, :value => -1), method: :post %>
      <%= answer.content %> | Posted by: <%= link_to answer.user.name, user_path(answer.user) %> | Rep: <%= rep_calculator(answer.user.id) %>
      <% count = 0 %>
      <% answer.votes.each do |vote| %>
        <% count += vote.value %>
      <% end %>
      Votes: <%=  count %>
      <%= link_to "Upvote", votes_path(:answer_id => answer.id, :value => 1), method: :post %>
      <%= link_to "Downvote", votes_path(:answer_id => answer.id, :value => -1), method: :post %>
      <% if @question.user == current_user %>
        | <%= link_to "Mark as Best Answer", question_path(question: {:best_answer => answer.id}), method: :patch %>
      <% end %>
      <br>
      <% if current_user == answer.user %>
        <%= button_to "Edit", edit_question_answer_path(@question, answer), :method => :get %>
        <%= button_to "Delete", question_answer_path(@question, answer), :method => :delete %>
      <% end %>
      </li>

      <ul>
        <%= link_to "New Comment", new_response_path(answer_id: answer) %>
        <br>
        <label>Comments:</label>
        <% answer.responses.each do |response| %>
          <li> <%= response.content %></li>
        <% end %>
      </ul>

